aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.7.0
async-timeout==4.0.1
asynctest==0.13.0
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
backtrader==1.9.76.123
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
colorama==0.4.4
colorlog==5.0.1
constantly==15.1.0
cryptography==3.4.6
cycler==0.10.0
Cython==0.29.23
dateparser==1.0.0
easydev==0.11.1
fitter==1.3.0
Flask==1.1.2
frozenlist==1.2.0
gevent==21.1.2
greenlet==1.1.0
hyperlink==21.0.0
idna==2.10
idna-ssl==1.1.0
incremental==21.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.0.4
mkl-service==2.3.0
multidict==5.2.0
multitasking==0.0.9
numpy==1.19.5
pandas==1.1.5
pexpect==4.8.0
Pillow==8.3.1
plotly==5.0.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-binance==1.0.15
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
regex==2020.11.13
requests==2.25.1
schedule==1.1.0
scipy==1.5.4
service-identity==18.1.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.2.1
ta==0.7.0
TA-Lib @ file:///E:/crypto_bots/rsibot/TA_Lib-0.4.19-cp36-cp36m-win_amd64.whl
tenacity==7.0.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
typing-extensions==4.0.0
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.3
websocket-client==1.1.1
websockets==9.1
Werkzeug==1.0.1
wincertstore==0.2
yarl==1.7.2
yfinance==0.1.55
zope.event==4.5.0
zope.interface==5.2.0
